html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #e5bbc9,
    #d8bfee,
    #9ad0ff,
    #09e2ff,
    #12ebcc
  );
}

h1 {
  text-align: center;
}

button {
  margin: 10px;
  height: 30px;
  width: 100px;
  border-radius: 3px;
  background: lightgreen;
  font-size: medium;
  border-color: lightgreen;
}

.hangman {
  border: 1px solid black;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  margin: auto;
}

.hangman > .guesses {
  padding: 15px;
}

.hangman > .guessWord {
  font-size: 1.2em;
  letter-spacing: 5px;
  padding: 15px;
}

.hangman > .keyboard {
  display: flex;
  width: 442px;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
}

.keyboard > .letter {
  border: 1px solid rgb(0, 0, 0);
  width: 32px;
  height: 32px;
  font-size: 1.8em;
}

.keyboard > .cover {
  opacity: 0.1;
}
