.hangman {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
  user-select: none;
  border: 1px solid black;
}

.hangman > .guesses {
  width: 100%;
}

.hangman > .guessword {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.guessword > .guessletter {
  height: 30px;
  width: 30px;
  border: 1px solid red;
}

.hangman > .keyboard{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

